.container {
  display: flex;
}

.rightSide {
  display: flex;
}

button {
  background-color: #4caf50; /* Green */
  border: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
