.container {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

li a {
  padding: 14px 16px;
  text-decoration: none;
}

a li {
  padding: 14px 16px;
  text-decoration: none;
}

.language {
  display: float;
  border-bottom: solid rgb(146, 143, 143) 0.2px;
}
.navigation {
  display: float;
  margin-top: 10px;
}

button {
  font-size: 10px;
}

span {
  border: 40px;
  margin-top: 40px;
}
